/* Variáveis de Temas */
:root {
	--tClaroTexto: #000;
	--tClaroTextoHigh: #333;
	--tClaroFundo: #fff;
	--tClaroFundoForte: #f7f7f7;
	--tClaroFundoHigh: #ddd;
	--MkFaseCorFundo: #f7f7f7;
	--MkFaseCorEfeitoPassivo: #c1e300;
	--MkFaseCorFundoIco: #f7f7f7;
	--MkFaseCorFundoIcoBack: #29256266;
	--MkFaseCorFundoIcoAtivo: #c1e300CC;
	--MkFaseCorTexto: #292562;
	--MkFaseCorTextoBack: #292562;
	--MkFaseCorTextoAtivo: #00d1c3;
	--MkFaseCorTextoDisabled: #59595166;
	--MkFaseCorTextoIcoBack: #f7f7f7;
	--MkFaseCorTextoIcoAtivo: #292562;
	--MkFaseCorEfeitoTexto: #00d1c333;
	--timerRestante: #c1e300;
	--timerConsumido: #e0e0e0;
	--corSombra: #333333;

	--carregadorInterno1: black;
	--carregadorInterno2: black;
	--carregadorExterno1: black;
	--carregadorExterno2: black;
	--carregadorCentro: black;
	--zCarregador: 5011;

	/* WC Seletor*/
	--mkSelCorSetaSelecionado: black;
	--mkSelListBorder: #0009;

	/* Seletor mkSel*/
	--mkSelArrowSize: 0px;
	--Main1: #292562;
	--Main2: #c1e300;
	--FundoSeletor: transparent;
	--FundoSeletorOpaco: #00d1c399;
	--FundoSeletorDesativado: #777;
	--BordaItens: #000;
	--FundoItensBgEC: #fff;
	--FundoItensBgEG: #0000 8%, var(--FundoItensBgEC) 0 17%, #0000 0 58%;
	--FundoItensBg: linear-gradient(135deg,
			#0000 20.5%,
			var(--FundoItensBgEC) 0 29.5%,
			#0000 0) 0 calc(var(--FundoItensSize) / 4),
		linear-gradient(45deg, var(--FundoItensBgEG)) calc(var(--FundoItensSize) / 2) 0,
		linear-gradient(135deg,
			var(--FundoItensBgEG),
			var(--FundoItensBgEC) 0 67%,
			#0000 0),
		linear-gradient(45deg,
			var(--FundoItensBgEG),
			var(--FundoItensBgEC) 0 67%,
			#0000 0 83%,
			var(--FundoItensBgEC) 0 92%,
			#0000 0),
		#f7f7f7;
	--FundoItensSize: 30px;
	--FundoItensHover: linear-gradient(0.25turn, #00d1c3, transparent);
	--FundoItensMarK: linear-gradient(0.25turn,
			#29256299,
			transparent);
	--FundoItensSel: linear-gradient(0.25turn, transparent, #c1e300);
	--FundoItensSelArrow: linear-gradient(0.25turn,
			transparent,
			#c1e300);
	--FlexinhaCor: var(--scrollColor);
	--CorItensHover: #000;
	--CorSeletor: var(--CorItensHover);
	--CorItens: var(--BordaItens);
	--ArrowSelecionado: "\2714";

	/* PADROES DA BIBLIOTECA */
	--tTexto: var(--tClaroTexto);
	--tTextoHigh: var(--tClaroTextoHigh);
	--tFundo: var(--tClaroFundo);
	--tFundoForte: var(--tClaroFundoForte);
	--tFundoHigh: var(--tClaroFundoHigh);
	--mkEscurecer: #0005;
	--mkEscurecerForte: #000b;
	--corIconeSim: #3c3;
	--corIconeNao: #777;
	--corIconeNaoHover: #fff;
	--sombraForte: #000;
	--ouro: #daa520;
	--timerEncerrando: #ff8888;
	--offline100: #ff4646ff;
	--offline50: #330000cc;
	--serverOffText: #fff;
	/* EFEITOS */
	--efeitoSobe: #00d1c3;
	--efeitoDodge: #fff9;
	--efeitoDifference: #fff9;
	--efeitoVidro: #cfc3;
	--efeitoPulsar: #ff000099;
	--pulsarInput: #ff660099;
	/* TONALIDADES */
	--tonalidadeVerde: #090;
	--tonalidadeVermelho: #900;
	--tonalidadeCinza: #999;
	/* DIMENCOES */
	--timerW: 30px;
	/* ELEVACOES */
	--mkConfirmadorIndex: 1600;
	--mkSelIndex: 2000;
}

/* BLOQUEIA SCROLL, Colocar no Body ou onde tiver scroll */
.mkSemScrollY {
	height: 100%;
	overflow: hidden;
}

/* Oculta o item atual ao adicionar a classe nele */
*.oculto {
	display: none !important;
}

li,
ul {
	list-style: none;
}

/* HIDE */
.mkSecreto {
	width: 0px !important;
	min-width: 0px !important;
	max-width: 0px !important;
	height: 0px !important;
	min-height: 0px !important;
	max-height: 0px !important;
	border: 0px !important;
	overflow: hidden !important;
	margin: 0px 0px 0px 0px !important;
	opacity: 0% !important;
	z-index: -1 !important;
	padding: 0px !important;
	box-shadow: none !important;
	outline: none !important;
}

/* =======================
	MK Seletor
=========================*/

.mkSelBloco {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0px solid transparent;
	outline: 0;
}

.mkSelBloco .mkSel {
	width: 100%;
}

.mkSelBloco * {
	outline: 0;
	border: 0px;
}

.mkSelBloco:has(.mkSel[disabled]) {
	cursor: not-allowed;
}

.mkSelBloco:has(.mkSel[disabled]) .mkSelPesquisa {
	pointer-events: none;
	opacity: 0.4;
	--FundoSeletor: var(--FundoSeletorDesativado);
}

.mkSelBloco:has(.mkSel.atualizando) .mkSelPesquisa input,
.mkSelBloco:has(.mkSel.atualizar) .mkSelPesquisa input {
	animation: mkEfeitoBordaGira 0.3s infinite;
	border-radius: 10px;
}

/* KEYFRAMES*/
@keyframes mkEfeitoBordaGira {
	0% {
		border-top: 1px solid var(--Main1);
		border-right: 1px dashed var(--Main2);
		border-bottom: 1px dashed var(--Main2);
		border-left: 1px dashed var(--Main2);
	}

	25% {
		border-top: 1px dashed var(--Main2);
		border-right: 1px solid var(--Main1);
		border-bottom: 1px dashed var(--Main2);
		border-left: 1px dashed var(--Main2);
	}

	50% {
		border-top: 1px dashed var(--Main2);
		border-right: 1px dashed var(--Main2);
		border-bottom: 1px solid var(--Main1);
		border-left: 1px dashed var(--Main2);
	}

	75% {
		border-top: 1px dashed var(--Main2);
		border-right: 1px dashed var(--Main2);
		border-bottom: 1px dashed var(--Main2);
		border-left: 1px solid var(--Main1);
	}

	100% {
		border-top: 1px solid var(--Main1);
		border-right: 1px dashed var(--Main2);
		border-bottom: 1px dashed var(--Main2);
		border-left: 1px dashed var(--Main2);
	}
}

.mkSelPesquisa {
	position: relative;
	display: flex;
	/* overflow: hidden; Tirei para ver a flexa de dentro da div de pesquisa */
	text-decoration: none;
	align-items: center;
	border-radius: 5px;
	background-color: var(--FundoSeletor);
	width: calc(100% - (var(--mkSelArrowSize) * 2));
	height: 100%;
}

.mkSelInputExibe {
	background-color: transparent;
	width: 100%;
	cursor: pointer;
	padding: 0px 0px 0px 2px;
}

/* ARROW EXTERNO*/
/*.mkSelBloco:has(.mkSel[data-selmoversel="true"]) {
	 background-color: yellow; 
}*/
.mkSelBloco:has(.mkSel[data-selmoversel="true"]) .mkSelPesquisa {
	width: calc(100% - 50px);
	/* background-color: lightgreen; */
}

.mkSelInputExibeArrow {
	position: absolute;
	right: 5px;
	width: 7px !important;
	min-width: 7px !important;
	max-width: 7px !important;
	height: 7px;
	border: 3px solid transparent;
	border-bottom: 3px solid var(--FlexinhaCor);
	border-left: 3px solid var(--FlexinhaCor);
	transform: rotate(-45deg);
	pointer-events: none;
}

.mkSelArrowSelLeft {
	position: absolute;
	left: -25px;
	width: var(--mkSelArrowSize);
	height: 100%;
	border: 1px outset;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	line-height: 100%;
	border-color: var(--FlexinhaCor);
	color: var(--Main2);
}

.mkSelArrowSelRight {
	position: absolute;
	right: -25px;
	width: var(--mkSelArrowSize);
	height: 100%;
	border: 1px outset;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	line-height: 100%;
	border-color: var(--FlexinhaCor);
	color: var(--Main2);
	transition: 0.3s;
}

.mkSelArrowSelLeft:hover,
.mkSelArrowSelRight:hover {
	cursor: pointer;
	border: 1px inset;
	border-color: var(--FlexinhaCor);
}

.mkSelArrowSelLeft::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 11.8'><path d='M14.9,1a6.5,6.5,0,0,1-1.1,4.9,4.7,4.7,0,0,1-1.1,1c-2.9,2.2-4.8.6-6.8,1.2-.2.1-.5.2-.6.5s.6,3.2-.4,3.2S0,8.8,0,5.9,3.9,0,4.9,0,4.5,3,5,3.7a.9.9,0,0,0,.8.3c4-.2,3,.9,6-.1a4.7,4.7,0,0,0,2-1A4.8,4.8,0,0,0,14.9,1Z'/></svg>");
	width: 50%;
}

.mkSelArrowSelRight::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 11.8'><path d='M.1,10.8A6.5,6.5,0,0,1,1.2,5.9a4.7,4.7,0,0,1,1.1-1c2.9-2.2,4.8-.6,6.8-1.3a.6.6,0,0,0,.6-.4c.5-.8-.6-3.2.4-3.2S15,2.9,15,5.9s-3.9,5.9-4.9,5.9.4-3-.1-3.7a.9.9,0,0,0-.8-.3c-4,.1-3-.9-6,.1a6.1,6.1,0,0,0-2,.9A5.8,5.8,0,0,0,.1,10.8Z'/></svg>");
	width: 50%;
}

/* .mkSelArrowSelLeft:hover::before {
	transform: translateX(-4px) rotate(55deg) scale(1.2) skew(-35deg);
	transition: 1s cubic-bezier(0.1, 0, 0, 1);
}

.mkSelArrowSelRight:hover::before {
	transform: translateX(4px) rotate(55deg) scale(1.2) skew(-35deg);
	transition: 1s cubic-bezier(0.1, 0, 0, 1);
} */

.mkSelBloco:has(input.mkSelInputExibe:focus) .mkSelInputExibeArrow {
	transform: rotate(-225deg);
}

.mkSelBloco:has(input.mkSelInputExibe:focus) .mkSelList {
	display: flex;
}

.mkSelList {
	display: none;
	flex-direction: column;
	position: fixed;
	z-index: calc(var(--mkSelIndex));
	text-align: left;
	color: var(--CorItens);
	background: var(--FundoItensBg);
	background-size: var(--FundoItensSize) var(--FundoItensSize);
	border: 1px solid var(--BordaItens);
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	max-height: 300px;
	overflow-y: auto;
	width: max-content;
}

.mkSelBloco:has(input.mkSel[data-dev="true"]) .mkSelList {
	display: flex;
}

.mkSelItem {
	display: flex;
	position: relative;
	align-items: center;
	border-radius: 6px;
	height: 26px;
	min-height: 26px;
	max-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mkSelItem span {
	padding: 3px 15px 3px 3px;
}

@media (max-width: 768px) {
	.mkSelList {
		width: calc(100% - 70px);
		position: fixed;
		height: calc(100% - 70px);
		/* max-height: calc(100% - 70px);
		min-height: calc(100% - 70px); */
	}

	.mkSelList .mkSelItem {
		height: 40px;
		min-height: 40px;
		max-height: 40px;
	}

	.mkSelList .mkSelItemDeCima,
	.mkSelList .mkSelItemDeBaixo {
		height: 30px;
		min-height: 30px;
		max-height: 30px;
	}

	.mkSelItem span {
		padding-left: 8px;
	}
}

.mkSelItem:hover,
.mkSelItem[data-s="1"]:hover {
	background: var(--FundoItensHover);
}

.mkSelItemArrow {
	position: absolute;
	right: 0px;
	pointer-events: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.mkSelItem[data-s="1"] {
	color: var(--CorSeletor);
	background: var(--FundoItensSel);
}

.mkSelItem[data-s="1"] .mkSelItemArrow::before {
	display: flex;
	align-items: center;
	padding: 0px 4px;
	color: var(--CorSeletor);
	background: var(--FundoItensSelArrow);
	min-height: 100%;
	content: var(--ArrowSelecionado);
}

.mkSelItem[data-m="1"] {
	background: var(--FundoItensMarK);
}

/* BOTOES DE MOVER PRA CIMA E PRA BAIXO */
.mkSelItemDeCima {
	position: sticky;
	background-color: var(--FundoSeletorDesativado);
	color: var(--FundoItens);
	text-align: center;
	top: 0px;
	right: 0;
	z-index: calc(var(--mkSelIndex) + 1);
	line-height: initial;
}

.mkSelItemDeCima:hover {
	background-color: var(--Main2);
	cursor: default;
}

.mkSelItemDeBaixo {
	position: sticky;
	background-color: var(--FundoSeletorDesativado);
	color: var(--FundoItens);
	text-align: center;
	bottom: 0px;
	right: 0;
	line-height: initial;
}

.mkSelItemDeBaixo:hover {
	background-color: var(--Main2);
	cursor: default;
}

/* =======================
	CSS PERSONALIZADO
=========================*/
/* Formato Botoes */
button.mkBtn {
	background: var(--tFundo);
	color: var(--tTexto);
	border-width: 1px;
	border-style: outset;
	border-color: var(--tTextoHigh);
	border-radius: 5px;
	padding: 0.2rem 0.6rem;
}

button.mkBtn:hover {
	border-style: inset;
	background: var(--tFundoHigh);
	color: var(--tTexto);
	text-shadow: -1px -1px var(--tFundo);
}

button.mkBtnInv {
	background: transparent;
	color: var(--tFundo);
	border-width: 1px;
	border-style: outset;
	border-color: var(--tFundo);
	border-radius: 5px;
	padding: 0.2rem 0.6rem;
	width: 35px;
	min-width: 35px;
	max-width: 35px;
	height: 35px;
	min-height: 35px;
	max-height: 35px;
	line-height: 0;
}

button.mkBtnInv:hover {
	border-style: inset;
	border-color: var(--tFundo);
	color: var(--tFundo);
	text-shadow: 1px 1px var(--tTexto);
}

/* LI e Barra Navegacao */
.mkAbas {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	padding: 6px;
	margin-bottom: -4px;
}

.mkAbas .mkAbaslink {
	user-select: none;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid transparent;
	padding: 5px 15px;
	transition: 0.2s ease-in-out;
}

.mkAbas .mkAbaslink.active {
	font-weight: bold;
	cursor: default;
	border: 1px solid var(--tFundoHigh);
	box-shadow: -1px -1px 0px 0px var(--tTextoHigh);
	border-bottom-color: transparent;
	background: var(--tFundoForte);
	color: var(--tTexto);
}

div[class*="mkAba"] {
	transition: opacity 0.5s linear;
	opacity: 1;
}

div[class*="mkAba"].oculto {
	display: flex !important;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 0;
	min-width: 0;
	max-width: 0;
	height: 0;
	min-height: 0;
	max-height: 0;
	margin: 0;
	padding: 0;
}

.mkCard {
	display: flex;
	flex-direction: column;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}

/* =======================
	LOADING
=========================*/
.CarregadorMkBlock {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	font-size: 2rem;
	z-index: 5010;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CarregadorMkBlock::before {
	content: "";
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 5001;
	background-color: var(--mkEscurecerForte);
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
}

.CarregadorMkTopoDireito {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 45px;
	min-width: 45px;
	max-width: 45px;
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	z-index: 5012;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--tFundo);
	border-color: var(--tFundo);
	display: inline-block;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.CarregadorMkTopoDireito svg {
	width: 100%;
	height: 100%;
}

button.CarregadorMkTopoDireito:hover {
	background-color: var(--tFundo);
	color: var(--tTexto);
}

.CarregadorMk {
	margin-top: 10px;
	width: 80px;
	height: 80px;
	color: transparent;
	background: transparent;
	border: transparent double 10px;
	border-left-color: var(--carregadorExterno2);
	border-left-style: solid;
	border-right-color: var(--carregadorExterno2);
	border-right-style: solid;
	border-top-color: var(--carregadorExterno1);
	border-bottom-color: var(--carregadorExterno1);
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: var(--zCarregador);
	animation: CarregadorMkAni 4000ms linear infinite;
	overflow: hidden;
}

.CarregadorMk::before {
	border: transparent solid 10px;
	border-left-color: var(--carregadorInterno1);
	border-right-color: var(--carregadorInterno2);
	content: "";
	top: -10px;
	left: -10px;
	right: 0px;
	bottom: 0px;
	border-radius: 100%;
	position: absolute;
	animation: CarregadorMkAni 2s linear infinite;
}

.CarregadorMk:not(.semAfter)::after {
	border: var(--carregadorCentro) inset 3px;
	position: absolute;
	content: "";
	top: 25px;
	left: 25px;
	right: 25px;
	bottom: 25px;
	animation: CarregadorMkAni 200ms linear infinite;
}

@keyframes CarregadorMkAni {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.CarregadorMkSemScrollY {
	height: 100%;
	overflow: hidden;
}

/* =======================
	MK Effect: Input Pendente (Chrome 105+)
=========================*/
.divInputInput {
	min-height: 33px;
}

.divInputInput:has(.iConsultas) .field-validation-error {
	display: none;
}

.divInputInput:has(.pending:not(.iConsultas)) {
	position: relative;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 5px solid transparent;
	border-radius: 10px;
	z-index: 2;
	margin: -5px 0px;
}

.divInputInput:has(.pending:not(.iConsultas))::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -5px;
	border-radius: inherit;
	background: var(--ouro);
	animation: pulsarMk 1.5s ease-in-out alternate infinite;
}

.mkEfeitoPulsar {
	animation: pulsarMk 1.5s ease-in-out alternate infinite;
}

@keyframes pulsarMk {

	0%,
	100% {
		background: var(--pulsarInput);
	}

	50% {
		background: transparent;
	}
}

/* =======================
	MK Effect: Offline
=========================*/
.offlineBlock {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	bottom: 50%;
	left: 0px;
	width: 100%;
	height: 100px;
	min-height: 100px;
	min-width: 100%;
	font-size: 2rem;
	z-index: 4010;
	color: var(--serverOffText);
	background: var(--offline100);
	animation: pulsarMk2 1.5s ease-in-out alternate infinite;
	box-shadow: 3px 3px 2px 2px #000;
}

.offlineBlock button {
	position: fixed;
	right: 2px;
	top: 2px;
	z-index: 4012;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--serverOffText);
	border-color: var(--serverOffText);
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-size: 2rem;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@keyframes pulsarMk2 {

	0%,
	100% {
		background: var(--offline100);
	}

	50% {
		background: var(--offline50);
	}
}

/* =======================
	MK Effect: Pulsar Background
=========================*/
.pulsarFundo {
	animation: pulsarFundo 1s ease-in-out alternate infinite;
}

@keyframes pulsarFundo {

	0%,
	100% {
		background: var(--efeitoPulsar);
	}

	50% {
		background: transparent;
	}
}

/* =======================
	MK Effect: Vidro
=========================*/
.iconeVidro {
	margin-left: -20px;
	display: flex;
	z-index: 2;
}

.iconeVidro li {
	position: relative;
	list-style: none;
	margin: 5px;
	margin-top: 5px;
}

.iconeVidro li a {
	position: relative;
	width: 3.4rem;
	height: 3.4rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px inset #e0e0e099;
	text-decoration: none;
	box-shadow: 1px 1px 2px var(--sombraForte);
	backdrop-filter: blur(1.2px);
	transition: 1s;
	overflow: hidden;
}

.iconeVidro li a:hover {
	transform: translateY(10px);
}

.iconeVidro li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
	background: var(--efeitoVidro);
	transform: skewX(45deg) translateX(100px);
	transition: 0.5s;
}

.iconeVidro li a:hover::before {
	transform: skewX(45deg) translateX(-150px);
}

/* =======================
	MK Effect: DODGE
=========================*/

.mkEfeitoDodge {
	position: relative;
	overflow: hidden;
}

.mkEfeitoDodge:before {
	content: "";
	position: absolute;
	left: -100%;
	top: -66%;
	width: 25%;
	height: 250%;
	border-radius: 50%;
	transform: rotate(45deg);
	background: linear-gradient(to left,
			transparent,
			var(--efeitoDodge) 50%,
			transparent 100%);
	animation: mkEsquerdaParaDireita 10s infinite linear;
	mix-blend-mode: color-dodge;
}

@keyframes mkEsquerdaParaDireita {
	90% {
		left: -100%;
	}

	100% {
		left: 200%;
	}
}

/* =======================
	MK Effect: DIFFERENCE
=========================*/

.mkEfeitoDifference {
	position: relative;
	overflow: hidden;
}

.mkEfeitoDifference:before {
	content: "";
	position: absolute;
	left: -50%;
	top: -66%;
	width: 25%;
	height: 250%;
	border-radius: 50%;
	transform: rotate(45deg);
	background: linear-gradient(to left,
			transparent,
			transparent 50%,
			var(--efeitoDifference) 75%,
			transparent 100%);
	animation: mkEsquerdaParaDireita 5s infinite linear;
	mix-blend-mode: difference;
}

/* =======================
	MK Effect: TIMER
=========================*/
.timerOut {
	display: flex;
	width: var(--timerW);
	height: var(--timerW);
	font-size: 0.7rem;
	border: 0px;
	border-radius: 50%;
	background: conic-gradient(var(--timerRestante),
			calc(var(--m) - 0.01turn),
			var(--timerRestante),
			calc(var(--m)),
			var(--timerConsumido),
			calc(var(--m) + 0.01turn),
			var(--timerConsumido));
	margin: auto;
	align-items: center;
	justify-content: center;
	position: relative;
	box-shadow: 0px 0px 1px 1px var(--corSombra);
	text-shadow: 0px 0px 1px #fff;
	overflow: hidden;
}

.timerOut.red {
	--timerRestante: var(--timerEncerrando);
}

/* =======================
	MK Effect: ESCURECE
=========================*/
.mkEscurece {
	filter: brightness(40%);
}

/* =======================
	MK Effect: FLIP
=========================*/

.flipArea {
	width: 100%;
	height: 100%;
	perspective: 1000px;
}

.flipTarget {
	position: relative;
	height: 100%;
	width: 100%;
	transition: all 0.8s;
	transform-style: preserve-3d;
}

.flipFront,
.flipBack {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flipBack {
	transform: rotateY(180deg);
}

.flipArea.sTrue .flipTarget {
	animation: flipVai 2s forwards;
}

@keyframes flipVai {
	0% {
		transform: rotateY(0deg);
		scale: 1;
	}

	20% {
		scale: 0.6;
		translate: -20% 0px;
	}

	60% {
		translate: 0px 0px;
	}

	75% {
		transform: rotateY(-180deg);
		translate: 0px 0px;
	}

	100% {
		scale: 1;
		transform: rotateY(-180deg);
	}
}

.flipArea.sFalse .flipTarget {
	animation: flipVolta 1.5s forwards;
}

@keyframes flipVolta {
	0% {
		transform: rotateY(-180deg);
		scale: 1;
	}

	20% {
		scale: 0.6;
		translate: 20% 0px;
	}

	60% {
		translate: 0px 0px;
	}

	75% {
		translate: 0px 0px;
		transform: rotateY(0deg);
	}

	100% {
		scale: 1;
		transform: rotateY(0deg);
	}
}

/* =======================
	MK Effect: ESTRELA
=========================*/
.mkTerremoto {
	animation-name: estrela;
	animation-duration: 0.2s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

@keyframes estrela {
	0% {
		transform: translate(-1px, 1px);
	}

	20% {
		transform: translate(0px, -1px);
	}

	40% {
		transform: translate(1px, 1px);
	}

	60% {
		transform: translate(-2px, 0px);
	}

	80% {
		transform: translate(2px, 0px);
	}

	100% {
		transform: translate(-1px, 1px);
	}
}

/* =======================
	AREA CONFIRMADOR
=========================*/
.mkConfirmadorBloco {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	font-size: 2rem;
	border: 0px;
	margin: 0px;
	padding: 0px;
	outline: 0px;
	z-index: var(--mkConfirmadorIndex);
	overflow-x: hidden;
	overflow-y: hidden;
	background: var(--mkEscurecer);
	align-items: center;
}

.mkConfirmadorFora {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
}

.mkConfirmadorArea {
	position: fixed;
	width: auto;
	height: auto;
	border: 1px outset var(--tFundoHigh);
	box-shadow: 6px 6px 10px 1px var(--sombraForte);

	border-radius: 5px;
	background: var(--tFundoHigh);
	color: var(--tTextoHigh);
	margin: auto auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2px;
	display: flex;
	flex-direction: column;
	text-align: center;
	animation: mkEfeitoSurgir 0.5s;
	font-size: 1.2rem;
}

.mkConfirmadorTitulo {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	background-color: var(--tClaroTextoHigh);
	color: var(--tFundoHigh);
	border-radius: 5px;
	width: 100%;
	user-select: none;
}

.mkConfirmadorTitulo svg {
	margin-left: 5px;
}

.mkConfirmadorTitulo span {
	flex: 0 1 100%;
}

.mkConfirmadorArea button {
	margin: 5px auto;
}

@keyframes mkEfeitoSurgir {
	from {
		transform: scale(0) translate(200%, 200%);
	}

	to {
		transform: scale(1) translate(0%, 0%);
	}
}

.mkConfirmadorTexto {
	padding: 5px;
	color: var(--tClaroTexto);
}

.mkConfirmadorBotoes {
	column-gap: 1rem;
}

/* =======================
	UI ESTILO BOTAO
=========================*/
.bBotao {
	color: var(--botaoCor);
	background: var(--botaoFundo);
	background: var(--botaoFundo2);
	box-shadow: 2px 2px 4px 0px var(--botaoCor);
	border-width: 1px;
	border-style: outset;
	border-color: var(--botaoFundo);
	border-radius: 15px;
	padding: 7px 30px;
	background-size: auto 200%;
	transition: 0.2s;
	letter-spacing: 1px;
	user-select: none;
	cursor: pointer;
}

.bBotao:hover {
	transition: 0.3s;
	border-style: inset;
	color: var(--botaoCorHover);
	background: var(--botaoFHover);
	background-size: auto 200%;
	animation: mkMoveFundoY 0.3s reverse forwards;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	box-shadow: 1px 1px 4px 1px var(--botaoCor);
	transform: translate(1px, 1px);
}

.bVerde {
	--botaoFundo: var(--tonalidadeVerde);
	--botaoFundo2: linear-gradient(0deg,
			var(--tonalidadeVerde) 0%,
			var(--tonalidadeVerde) 10%,
			#fff 70%,
			#fff 100%);
	--botaoFHover: linear-gradient(0deg,
			var(--tonalidadeVerde) 0%,
			var(--tonalidadeVerde) 10%,
			#fff 70%,
			#fff 100%);
	--botaoCorHover: #fff;
	--botaoCor: #000;
}

.bVermelho {
	--botaoFundo: var(--tonalidadeVermelho);
	--botaoFundo2: linear-gradient(0deg,
			var(--tonalidadeVermelho) 0%,
			var(--tonalidadeVermelho) 10%,
			#fff 70%,
			#fff 100%);
	--botaoFHover: linear-gradient(0deg,
			var(--tonalidadeVermelho) 0%,
			var(--tonalidadeVermelho) 10%,
			#fff 70%,
			#fff 100%);
	--botaoCorHover: #fff;
	--botaoCor: #000;
}

.bCinza {
	--botaoFundo: var(--tonalidadeCinza);
	--botaoFundo2: linear-gradient(0deg,
			var(--tonalidadeCinza) 0%,
			var(--tonalidadeCinza) 10%,
			#fff 70%,
			#fff 100%);
	--botaoFHover: linear-gradient(0deg,
			var(--tonalidadeCinza) 0%,
			var(--tonalidadeCinza) 10%,
			#fff 70%,
			#fff 100%);
	--botaoCorHover: #fff;
	--botaoCor: #000;
}

/* =======================
	AREA MODAL
=========================*/
.mkModalBloco {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	font-size: 2rem;
	outline: 0;
	z-index: 1060;
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--modalEscurecer);
}

.mkModalConteudo {
	width: calc(100% - 5rem);
	height: calc(100vh - 5rem);
	border: 1px outset var(--tFundoHigh);
	box-shadow: -1px -1px 0px 0px var(--tFundo);
	border-radius: 5px;
	background: var(--tFundoHigh);
	margin: auto auto;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 1rem;
	padding: 1px 2px 0px 1px;
	display: flex;
	flex-direction: column;
}

.mkModalTitulo {
	border-radius: 10px;
	margin-right: 2px;
	border: 1px solid var(--tFundo);
	background: transparent;
}

/* =======================
	Barra de FASES
=========================*/
ul.mkUlFase {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	user-select: none;
	list-style: none;
	padding: 15px 0px 0px 0px;
	font-size: 1rem;
	font-weight: normal;
	background: var(--MkFaseCorFundo);
	background: linear-gradient(0deg, transparent 0%, var(--MkFaseCorFundo) 50%);
	border-radius: 5px;
}

ul.mkUlFase li {
	background: transparent;
	flex: 1 0 0%;
	text-align: center;
}

ul.mkUlFase li div {
	width: 100%;
	padding: 2px;
}

/*ICONE*/
ul.mkUlFase li .mkFaseIco {
	margin: 0px 0px -11px 0px;
}

ul.mkUlFase li .mkFaseIco i {
	position: relative;
	top: -16px;
	border-radius: 50%;
	padding: 5px 8px;
	background: var(--MkFaseCorFundoIco);
	box-shadow: 1px 1px 1px var(--MkFaseCorTextoDisabled);
	outline: 1px solid var(--MkFaseCorFundoIcoAtivo);
	outline-offset: -2px;
	transition: 0.5s ease-in;
}

ul.mkUlFase li.mkFaseAtivo .mkFaseIco i {
	outline: 1px solid var(--MkFaseCorTextoAtivo);
}

ul.mkUlFase li:not(.mkFaseBack):not(.mkFaseAtivo) .mkFaseIco i {
	border: 1px outset var(--MkFaseCorFundoIcoBack);
}

/*COR*/
ul.mkUlFase li a {
	color: var(--MkFaseCorTexto);
}

ul.mkUlFase li a:hover * {
	color: var(--MkFaseCorTextoAtivo);
	cursor: pointer;
}

ul.mkUlFase li a:hover .mkFaseIco {
	animation: mkEfeitoFase 1000ms ease-in-out infinite alternate;
}

ul.mkUlFase li.disabled a {
	color: var(--MkFaseCorTextoDisabled);
}

ul.mkUlFase li.mkFaseBack a {
	color: var(--MkFaseCorTextoBack);
}

ul.mkUlFase li.mkFaseAtivo a {
	color: var(--MkFaseCorTextoAtivo);
}

ul.mkUlFase li.mkFaseBack .mkFaseIco i {
	color: var(--MkFaseCorTextoIcoBack);
	background: var(--MkFaseCorFundoIcoBack);
	text-shadow: 1px 1px var(--MkFaseCorTexto);
}

ul.mkUlFase li.mkFaseAtivo .mkFaseIco i {
	color: var(--MkFaseCorTextoIcoAtivo);
	background: var(--MkFaseCorFundoIcoAtivo);
	text-shadow: 1px 1px var(--MkFaseCorTextoIcoBack);
}

/*EFEITO*/
ul.mkUlFase li .mkFaseEfeito {
	padding: 2px 0px 0px 0px;
}

ul.mkUlFase li .mkFaseEfeito:nth-child(odd) {
	background: var(--MkFaseCorEfeitoPassivo);
}

ul.mkUlFase li.mkFaseBack .mkFaseEfeito {
	background: var(--MkFaseCorTexto);
}

ul.mkUlFase li.mkFaseAtivo .mkFaseEfeito {
	background: linear-gradient(90deg,
			var(--MkFaseCorTexto) 20%,
			var(--MkFaseCorEfeitoPassivo) 70%);
}

ul.mkUlFase li.mkFaseAtivo .mkFaseEfeito:nth-child(even) {
	background: linear-gradient(90deg,
			var(--MkFaseCorTexto) 20%,
			transparent 70%);
}

/* LABEL */
ul.mkUlFase li label {
	display: block;
	position: relative;
	transition: 0.5s;
}

ul.mkUlFase li label::before {
	content: "";
	position: absolute;
	background: var(--MkFaseCorEfeitoTexto);
	left: 10%;
	width: 80%;
	height: 1px;
	top: 100%;
	transition: transform 0.3s linear;
	transform: scaleX(0);
	transform-origin: right;
}

ul.mkUlFase li:hover label::before {
	transform: scaleX(1);
	transform-origin: left;
}

/* OUTROS */
ul.mkUlFase a {
	text-decoration: none;
}

ul.mkUlFase li.disabled a {
	pointer-events: none;
	cursor: default;
}

@keyframes mkEfeitoFase {
	100% {
		filter: drop-shadow(0px 0px 2px var(--MkFaseCorTextoAtivo));
	}
}

/* .:ESTRATEGIAS MK CSS:.
	MICRO FLEX POSICOES
1 2 3
4 5 6
7 8 9 */
.microPos1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.microPos2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.microPos3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
}

.microPos4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
}

.microPos5 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

.microPos6 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}

.microPos7 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-end;
}

.microPos8 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
}

.microPos9 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-end;
}

/* GRID */
.macroGrid {
	--min: 180px;
	--max: 1fr;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min), var(--max)));
}

/* ABSOLUTE */
.absPos1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: flex-start;
	align-content: flex-start;
}

.absPos2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 50%;
	justify-content: center;
	align-content: flex-start;
}

.absPos3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	right: 0;
	justify-content: flex-end;
	align-content: flex-start;
}

.absPos4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 50%;
	left: 0;
	justify-content: flex-start;
	align-content: center;
}

.absPos5 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 50%;
	left: 50%;
	justify-content: center;
	align-content: center;
}

.absPos6 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 50%;
	right: 0;
	justify-content: flex-end;
	align-content: center;
}

.absPos7 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	left: 0;
	justify-content: flex-start;
	align-content: flex-end;
}

.absPos8 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	left: 50%;
	justify-content: center;
	align-content: flex-end;
}

.absPos9 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	right: 0;
	justify-content: flex-end;
	align-content: flex-end;
}

/* ESTRATEGIAS DE DIMENCIONAMENTO */
.semGap {
	display: flex;
	grid-column-gap: 0px;
	gap: 0px;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.espacoEntre {
	align-content: space-between;
	justify-content: space-between;
}

.col7 {
	flex: 1 0 7% !important;
}

.col10 {
	flex: 1 0 10% !important;
}

.col15 {
	flex: 1 0 15% !important;
}

.col20 {
	flex: 1 0 20% !important;
}

.col25 {
	flex: 1 1 25% !important;
}

.col30 {
	flex: 1 0 30% !important;
}

.col33 {
	flex: 1 0 33.33% !important;
}

.col37 {
	flex: 1 0 37.5% !important;
}

.col40 {
	flex: 1 0 40% !important;
}

.col49 {
	flex: 1 0 49% !important;
}

.col50 {
	flex: 1 0 50% !important;
}

.col60 {
	flex: 1 0 60% !important;
}

.col66 {
	flex: 1 0 66.66% !important;
}

.col70 {
	flex: 1 0 70% !important;
}

.col75 {
	flex: 1 0 75% !important;
}

.col80 {
	flex: 1 0 80% !important;
}

.col90 {
	flex: 1 0 90% !important;
}

.col100 {
	flex: 1 0 100% !important;
}

.comGap {
	display: flex;
	grid-column-gap: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

/* SORT- */
.mkEfeitoSobe {
	position: relative;
}

.mkEfeitoSobe::before {
	content: "\2191";
	font-size: 1rem;
	position: absolute;
	right: 0;
	top: -1px;
	height: 100%;
	animation: mkSortY 3s infinite reverse cubic-bezier(0.4, -0.4, 0, 1);
}

/*
.mkEfeitoSobe::after {
	content: "";
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(0turn,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			var(--efeitoSobe),
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent);
	border-radius: 2px;
	background-size: auto 400%;
	animation: mkMoveFundoY 3s infinite reverse;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	mix-blend-mode: color-dodge;
}
*/
.mkEfeitoDesce {
	position: relative;
}

.mkEfeitoDesce::before {
	content: "\2193";
	font-size: 1rem;
	position: absolute;
	top: -1px;
	height: 100%;
	right: 0;
	animation: mkSortY 3s infinite cubic-bezier(1, 0, 0.4, 1.4);
}

@keyframes mkSortY {
	0% {
		opacity: 0;
		transform: translateY(0%);
	}

	20% {
		opacity: 1;
		transform: translateY(0%);
	}

	80% {
		opacity: 1;
		transform: translateY(50%);
	}

	100% {
		opacity: 0;
		transform: translateY(50%);
	}
}

/*
.mkEfeitoDesce::after {
	content: "";
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(0turn,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			#00d1c3,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent,
			transparent);
	border-radius: 2px;
	background-size: auto 400%;
	animation: mkMoveFundoY 3s infinite;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	mix-blend-mode: color-dodge;
}
*/
@keyframes mkMoveFundoY {
	0% {
		background-position-y: 100%;
	}

	100% {
		background-position-y: 0%;
	}
}

/* EFEITO CLIP */
.mkEfeitoClip {
	clip-path: url(#mkClip);
}

/* LISTAGEM */
.divListagem {
	overflow: auto;
	border-radius: 10px;
	margin: 3px;
}

.tableListagem {
	width: 100%;
	border-collapse: collapse;
}

.tableListagem thead {
	position: sticky;
	top: -1px;
	user-select: none;
}

.tableListagem th {
	text-align: center;
}

.divListagemMaisItens {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	cursor: pointer;
	user-select: none;
}

.tableResultado {
	display: flex;
}

.tableInicioFim {
	display: flex;
}


/* =======================
	HEAD MENU
=========================*/
.mkhmHeadIco {
	position: absolute;
	display: none;
	align-items: center;
	top: 0;
	height: 100%;
	right: 10px;
	border: 1px outset #fff6;
	color: var(--corLink);
	background-color: var(--bordaMaster);

	border-radius: 5px;
	padding: 1px;
	cursor: pointer;
}

.mkhmHeadIco svg {
	transform: scale(0.8);
}

thead th:hover .mkhmHeadIco,
thead td:hover .mkhmHeadIco {
	display: flex;
}

.mkHeadMenu {
	display: flex;
	position: fixed;
	z-index: 4999;
	bottom: 5px;
	left: 5px;
}

.mkHeadMenu .hmin {
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px outset #0005;
	border-radius: 5px;
	box-shadow: -1px 2px 5px #0004;
	padding: 0px;
}

.mkHeadMenu .hmin .htit {
	display: flex;
	margin: auto;
	text-align: center;
	background-color: #ccc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.mkHeadMenu .hmin .htit div:nth-child(1) {
	padding: 1px;
}

.mkHeadMenu .htit .fechar {
	border: 1px outset #0003;
	border-radius: 4px;
}

.mkHeadMenu .botao {
	cursor: pointer;
}

.mkHeadMenu .nosel {
	user-select: none;
}

.mkHeadMenu ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.mkHeadMenu li {
	padding: 2px;
	line-height: normal;
}

.mkHeadMenu li svg {
	margin-bottom: 1px;
}

.mkHeadMenu .fimsecao {
	border-bottom: 2px inset #0003;
}

.mkHeadMenu input {
	background-color: transparent;
	padding: 2px;
}

.mkHeadMenu li:has(input) {
	padding: 7px;
}

.mkHeadMenu li .possibilidades {
	max-height: 200px;
	overflow: auto;
}

.mkHeadMenu li.limpar,
.mkHeadMenu .possibilidades li {
	display: flex;
	position: relative;
}

.mkHeadMenu .possibilidades li.sel::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/></svg>");
	display: flex;
	position: absolute;
	pointer-events: none;
}

.mkHeadMenu .claico svg path:first-child {
	fill: #007;
}

.mkHeadMenu li.limpar svg {
	color: transparent;
	stroke: #000A;
	fill: #F002;
	transform: scale(0.8);
}


/* =======================
	Paginação Padrao
=========================*/
.pagBotoes {
	display: flex;
	flex-direction: row;
	user-select: none;
	justify-content: center;
}

.pagBotao {
	cursor: pointer;
}

.pagBotao.disabled {
	filter: grayscale(1);
	opacity: 0.5;
	pointer-events: none;
}

.pagBotoes .pagBotao {
	padding: 0.2rem 0.8rem;
	border: 1px solid var(--bordaMaster);
	background-color: var(--fundoLink);
	color: var(--corLink);
}

.pagBotoes .ativo {
	background-color: var(--fundoHead);
	color: var(--corHead);
}

.pagBotoes .pagBotao:hover {
	background-color: var(--fundoHead);
	color: var(--corHead);
}

.pagBotao.pag0 {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 0px;
}

.pagBotao.pag8 {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 0px;
}

/* Listagem: Paginacao */
.pagination {
	display: flex;
	flex-direction: row;
	user-select: none;
}

.paginate_button {
	cursor: pointer;
}

.paginate_button.disabled {
	filter: grayscale(1);
}

.page-link {
	padding: 0.5rem 0.8rem;
	line-height: normal;
}

/*Layout*/
.i {
	display: flex;
	flex-direction: row;
	/* max aqui impede que a linha gere overflow */
	max-width: 100%;
	width: 100%;
}

.j {
	flex: 1 0 0%;
}

.iSemGap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.iComGap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px 0px 0px 0px;
	gap: 10px;
}

@media (max-width: 770px) {
	.i {
		flex-direction: column;
	}

	.iComGap {
		flex-direction: column;
	}
}

*.fsb {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: space-between !important;
}

*.tb,
*.ftb {
	display: flex !important;
	flex-direction: column !important;
}

*.lr,
*.flr {
	display: flex !important;
	flex-direction: row !important;
}

.mkCem {
	width: 100%;
	height: 100%;
}

/*Desativar via CSS*/
.disabled {
	pointer-events: none;
}

.bordaDupla {
	border: 3px double var(--bordaMaster);
	border-radius: 5px;
}

.bordaBaixo {
	border-bottom: 1px solid var(--bordaMaster);
}

.pad5 {
	padding: 5px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.pointer {
	cursor: pointer;
}

/* NAO FUNCIONA EM CONJUNTO AOS microPos */
.corte {
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

/* MKBot */
.mkBot {
	position: relative;
	padding: 0;
}

.mkBot .mkBotSobre {
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.mkBot * {
	user-select: none;
	border-radius: inherit;
}

/* MK REGRAR */
.input-validation-error {
	border: 1px solid red;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	display: flex;
}

.valid {
	border: 2px solid #090;
}

.mkRegrar {
	display: flex;
}

.mkRegrar.field-validation-error {
	display: flex;
	color: black;
	background-color: #fcc;
	border: 1px solid red;
	margin-top: -2px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 1px;
	overflow: hidden;
	font-size: 0.7rem;
}

/* Recomendador */
.mkRecList {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: 5px;
	border-radius: 5px;
	background: var(--FundoItensBgEC);
	max-height: 300px;
	overflow: auto;
	z-index: calc(var(--mkSelIndex));
}

.mkRecList .recItem {
	padding: 5px;
	border-bottom: 1px solid var(--BordaItens);
}

.mkRecList.emFoco {
	display: none;
}

/* Blink em no geral e no seletor */
.regraBlink {
	outline: 2px dotted #F009 !important;
}

.mkSelBloco:has(.regraBlink) {
	outline: 2px dotted #F009 !important;
}

/* Corretores */
svg {
	vertical-align: middle;
}

/*Corretor*/
.mkHeadMenu li svg {
	margin-bottom: 1px;
}

.flex {
	display: flex;
}

fieldset {
	display: flex;
}

.mkReflexo {
	-webkit-box-reflect: below -10px linear-gradient(0deg, #FFF9, #FFF5, #FFF1, transparent, transparent);
}

/* DIALOG */
dialog {
	padding: 5px;
	border: 3px double navy;
}

dialog::backdrop {
	background-color: #0004;
}

/* SELETOR */
mk-sel:not(:defined) {
	opacity: 0;
	display: inline-block;
	width: 211px;
	height: 28px;
}

mk-sel.input-validation-error::part(arrowAbreFecha) {
	fill: red;
}

mk-sel.valid::part(arrowAbreFecha) {
	fill: #090;
}

/* BOTAOVALUE */
mk-bot:not(:defined) {
	opacity: 0;
	display: inline-block;
	width: 211px;
	height: 28px;
}

mk-bot.changed {
	outline: 2px solid #4499;
}