/* Global */
body * {
	font-family: Consolas;
}
body {
	background-color: var(--fundoPrincipal);
	color: var(--corPrincipal);
}

/* Estilo do Site*/
header {
	position: sticky;
	top: 0rem;
	z-index: 100;
	background: var(--fundoHead);
	color: var(--corHead);
	border: 0px;
	border-color: var(--bordaMaster);
	border-style: inset;
	border-bottom-width: 5px;
	padding: 0px;
	border-radius: 50%;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	height: 2rem;
	min-height: 2rem;
	max-height: 2rem;
	margin-top: -2rem;
	font-size: 2rem;
	letter-spacing: 0.7rem;
	animation: sombraTitulo 5s ease-in-out infinite alternate;
	/* margin-top: -16px; */
	/* display: none; */
}
@keyframes sombraTitulo {
	to {
		text-shadow: 0px 0px 5px var(--corHeadEfeito);
	}
}
div.Corpo {
	display: flex;
	flex-direction: row;
}
nav {
	z-index: 90;
	border: 0px solid transparent;
	width: 100px;
	/* border: 1px solid blue; */
}
main {
	flex: 0 1 100%;
	margin-top: 2.1rem;
	border: 3px double #0003;
	border-radius: 15px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	color: var(--corPrincipal33);
	font-size: 0.7rem;
}
nav .Menu {
	transform: translateX(calc(-100% + 85px));
	position: fixed;
	top: 0;
	width: fit-content;
	transition: 1s cubic-bezier(0.2, 0, 0.5, 2);
	padding: 3rem 5px 2rem 10px;
	white-space: nowrap;
	overflow: hidden;
	background-color: var(--fundoMenu);
	border: 0px;
	border-right: 3px;
	border-bottom: 4px;
	border-style: inset;
	border-color: var(--bordaMaster);
	border-radius: 0px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
nav .Menu:hover {
	transition: 0.2s ease-in-out;
	transform: translateX(0%);
}
.Menu .MenuLink {
	font-size: 2rem;
	cursor: pointer;
	color: var(--corLink);
	display: flex;
	justify-content: space-between;
	transition: 0.3s;
}
.Menu .MenuLink:hover {
	color: var(--corLinkHover);
	text-shadow: 0px 0px 10px var(--corLinkEfeito);
	transition: 0.3s;
	stroke: var(--corLinkHover);
	stroke: 1px;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: percorre 4s linear forwards;
}
.Menu .MenuLink:hover svg {
	color: var(--corLinkHover);
	animation: fill 1s ease-in-out infinite alternate;
}
@keyframes percorre {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	0% {
		fill: var(--corLink);
	}
	50% {
		fill: var(--fundoMenu);
	}
	100% {
		fill: var(--corLinkEfeito);
	}
}

/* Icones SVG*/
.MenuLink span:nth-child(1) {
	padding-right: 5rem;
}
.MenuLink span:nth-child(2) {
	padding: 0px 2rem 0.5rem 2rem;
	transform: scale(2);
	overflow: hidden;
}

.h1 {
	z-index: 2;
	position: sticky;
	top: 40px;
	font-size: 1.5rem;
	text-decoration: underline wavy;
	text-decoration-color: var(--fundoTitulo);
	font-weight: bold;
	letter-spacing: 0.2rem;
	font-style: italic;
	color: var(--corTitulo);
	text-shadow: 2px 2px 5px var(--fundoMenu);
	background: var(--fundoTitulo);
	border-radius: 15px;
	padding-bottom: 0.5rem;
	backdrop-filter: blur(1.5px);
}

/* Outros */
input {
	width: 100%;
}
