/* TEMA */
:root {
	--bordaMaster: #331166;
	--bordaInput: rgb(193, 184, 255);
	--fundoHead: #331166;
	--corHead: #0f0;
	--corHeadEfeito: #f0c;
	--fundoPrincipal: #abdab8;
	--corPrincipal: #232;
	--corPrincipal33: #2323;
	--corSecundaria: #441166;
	--fundoSecundaria: #bcb;
	--corMenu: #0f0;
	--fundoMenu: #221133;
	--fundoLink: var(--fundoPrincipal);
	--corLink: #5a0;
	--corLinkHover: #fff;
	--corLinkEfeito: #f0f;
	--corTitulo: var(--bordaMaster);
	--fundoTitulo: linear-gradient(0.25turn, #f0fff011, #f0fff099, #f0fff011);
	--fundoSubTitulo: linear-gradient(0.25turn, #f0fff099, #f0fff011);
	--scrollSize: 5px;
	--scrollColor: var(--bordaMaster);
}