:root {
	--bordaMaster: #331166;
	--bordaInput: #ace;
	--fundoHead: #331166;
	--corHead: #0f0;
	--corHeadEfeito: #f0c;
	--fundoPrincipal: #def;
	--corPrincipal: #454;
	--corPrincipal33: #f0fff033;
	--corSecundaria: #441166;
	--fundoSecundaria: #99dd33;
	--corMenu: #0f0;
	--fundoMenu: #221133;
	--fundoLink: var(--fundoPrincipal);
	--corLink: #5a0;
	--corLinkHover: #fff;
	--corLinkEfeito: #f0f;
	--corTitulo: var(--bordaMaster);
	--fundoTitulo: linear-gradient(0.25turn, #f0fff011, #f0fff099, #f0fff011);
	--fundoSubTitulo: linear-gradient(0.25turn, #f0fff099, #f0fff011);
	--scrollSize: 5px;
	--scrollColor: var(--bordaMaster);
}
