:root {
	--bordaMaster: #331166;
	--fundoHead: #331166;
	--corHead: #0f0;
	--corHeadEfeito: #f0c;
	--fundoPrincipal: #445544;
	--corPrincipal: #f0fff0;
	--corPrincipal33: #f0fff033;
	--corSecundaria: #441166;
	--fundoSecundaria: #99dd33;
	--fundoMenu: #221133;
	--corLink: #0f0;
	--corLinkHover: #fff;
	--corLinkEfeito: magenta;
	--corTitulo: var(--bordaMaster);
	--fundoTitulo: linear-gradient(0.25turn, #f0fff011, #f0fff099, #f0fff011);
	--fundoSubTitulo: linear-gradient(0.25turn, #f0fff099, #f0fff011);
	--scrollSize: 5px;
	--scrollColor: var(--bordaMaster);
}
